


body {
    border:border-box;
font-family: "Roboto", sans-serif;
color : #434455;
background-color: #ffffff;
}

h1,
h2,
h3 {
    font-family:inherit;
    color: #2e2f42;
}


button {
    cursor: pointer;
font-family: inherit;
}


ul,
ol {
    list-style-type: none;
}


a {
    text-decoration: none;
font-family: inherit;
}

h2 {
      font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
   
}

h3 {   
font-weight: 500;
font-size: 20px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize
}

p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5
}


.logo-right-part {
    color: #2e2f42;
}


.top-page-nav-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.top-page-nav-link:hover,
.top-page-nav-link:focus {
    color: #404bbf;
}

.top-page-adress {
    font-style: normal;
}

.top-page-adress-link {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.top-page-adress-link:hover,
.top-page-adress-link:focus {
    color: #404bbf;
}


.hero {
background-color: #2e2f42;
}

h1 { 
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
}

.page-header {
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
}

.button-hero {
line-height: 1.5;
background-color: #4D5AE5;
letter-spacing: 0.04em;
color: #ffffff;
}

.button-hero:hover,
.button-hero:focus {
background-color:#404BBF;
font-weight: 500;
}

.advent-sec {
background-color: #F4F4FD;
}

.header-strategy {
line-height: 1.2;
}

.text-strategy {
    background-color: #FFFFFF;
    font-size: 16px;


}

.team-sect {
    background-color: #F4F4FD;
}

.header-team {
    background-color: #F4F4FD;
    text-transform: capitalize;
    line-height: 1.11;
}

.team-members{
background-color: #FFFFFF;
}


.header-ford {
    text-transform: capitalize;
    line-height: 1.2;
}

.prof-mark-guerro {
background-color: #FFFFFF;
font-size: 16px;
}

.header-portfolio {
    text-transform: capitalize;
}

.header-sub-port {
line-height: 1.2;
}

.text-port {

}


.footer-block {
    background-color: #2e2f42;
}
.logo-right-bottom-part 
{
    color: #f4f4fd;
}


.foot-p-text {
    color: #f4f4fd;
}
